body {
  font-family: Arial;
}

.hero {
  background-color: blue;
}
.hero nav {
  display: flex;
}
.hero .container {
  background-color: black;
}
.hero .container a {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
